<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com-twogate-signinwithapple" version="0.0.1">
    <name>SignInWithApple</name>

    <description>Sign in with Apple</description>
    <license>MIT</license>

    <keywords>cordova,ios,apple,sign in with apple</keywords>
    <repo>https://github.com/twogate/cordova-plugin-sign-in-with-apple.git</repo>
    <issue>https://github.com/twogate/cordova-plugin-sign-in-with-apple/issues</issue>

    <engines>
        <engine name="cordova" version=">=7.1.0"/>
        <engine name="cordova-ios" version=">=4.5.0"/>
    </engines>

    <js-module src="www/sign-in-with-apple.js.js" name="SignInWithApple">
        <clobbers target="cordova.plugins.SignInWithApple" />
    </js-module>
    <platform name="ios">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SignInWithApple">
                <param name="ios-package" value="SignInWithApple" />
            </feature>
        </config-file>
        <framework src="AuthenticationServices.framework" />

        <source-file src="src/ios/SignInWithApple.swift" />
    </platform>
</plugin>
